*

# zsh
!/zsh/.zshrc
!/zsh/.zsh/alias.zsh
!/zsh/.zsh/chrome.zsh
!/zsh/.zsh/option.zsh
!/zsh/.zsh/zinit.zsh

# nvim
!/nvim/.config/nvim/init.lua
!/nvim/.config/nvim/lua/autocmds.lua
!/nvim/.config/nvim/lua/keymaps.lua
!/nvim/.config/nvim/lua/options.lua
!/nvim/.config/nvim/lua/plugins.lua
